body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0;
    margin:0;
}

.top-container {
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    border-radius: 0px 0px 40px 40px;
}

.top-img {
    height:500px;
    width:500px;    
}

.text-title {
    font-family: 'Caveat', cursive;
}

.name-text {
    letter-spacing: 10px;
    font-size: 4rem;
    font-weight:bolder ;
}

.web-text {
    font-family: 'Playpen Sans', cursive;
    text-decoration: underline;  
    font-size:2rem;
    
}

.middle-container {
    text-align: center;
    margin-top:60px;
}

.my-img {
    height: 200px;
    width:200px;
}

.middle-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin:0;
}

.middle-texta {
    font-size: 1.4rem;
    color:black;
}

hr {
    border:7px dotted rgb(0, 231, 135);
    border-bottom:none;
    width:4%;
    margin:50px auto;
}

.bottom-container {
    text-align: center;
}

.grid-sys {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width:50%;
    text-align:left;
    margin:100px auto;
    row-gap:50px;
}

.cat1 , .cat2 {
    height:200px;
    width:250px;
    margin-right:100px;
    border-radius:10px;
}

div > .sleep-desc > h3 {
    color:green;
}

div > .work-desc > h3 {
    color:green;
}

.sleep-short , .work-short {
    color:black;
    font-weight: 500;
    font-size: 1.2rem;
}

.skill {
   color:black;
   letter-spacing: 2px;
   margin-top:100px;
   font-size: 2rem;
}


.contact-container {
    text-align: center;
    margin-top:7rem;
}

.cont-hed {
    color:rgb(179, 104, 7);
}

.cont-heda {
    color:black;
    font-weight: 500;
}

.cont-hedb {
    margin-bottom:40px;
}



.vbtn {
    background: #0099ff;
    background-image: -webkit-linear-gradient(top, #0099ff, #0a466b);
    background-image: -moz-linear-gradient(top, #0099ff, #0a466b);
    background-image: -ms-linear-gradient(top, #0099ff, #0a466b);
    background-image: -o-linear-gradient(top, #0099ff, #0a466b);
    background-image: linear-gradient(to bottom, #0099ff, #0a466b);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .vbtn:hover {
    background: #113f5c;
    background-image: -webkit-linear-gradient(top, #113f5c, #0893f0);
    background-image: -moz-linear-gradient(top, #113f5c, #0893f0);
    background-image: -ms-linear-gradient(top, #113f5c, #0893f0);
    background-image: -o-linear-gradient(top, #113f5c, #0893f0);
    background-image: linear-gradient(to bottom, #113f5c, #0893f0);
    text-decoration: none;
  }


  .footer-contain {
    height:130px;
    width:100%;
    background-color: #00c3ff;
    margin-top:100px;
    padding-top:40px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;;
  }

  .fot-link {
    padding-right:20px;
    text-decoration: none;
    color:black;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .fot-link:hover {
    color:white;
    font-weight: bold;
  }

  .copy {
    font-weight: 100;
    font-size: 1.2rem;
    margin-top:70px;
  }

  @media (max-width:860px) {

    .grid-sys {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows:  1fr;
        width:50%;
        text-align:center;
        margin:100px auto;
        row-gap:50px;
    }

    .cat1 , .cat2 {
        height:200px;
        width:250px;
        margin-right:10px;
        border-radius:10px;
        text-align: center;;
    }

    
.top-img {
    height:400px;
    width:400px;    
}

  }


  @media (max-width:488px) {

    .grid-sys {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows:  1fr;
        width:100%;
        text-align:center;
        margin:100px auto;
        
    }

    .cat1 , .cat2 {
        height:200px;
        width:250px;
        border-radius:10px;
        text-align: center;;
    }

    
.top-img {
    height:300px;
    width:300px;    
}

.name-text {
    letter-spacing: 10px;
    font-size: 2rem;
    font-weight:bolder ;
}

.web-text {
    font-family: 'Playpen Sans', cursive;
    text-decoration: underline;  
    font-size:1rem;
    
}

  }